:root{
    --gray: #746c70;
    --cool-gray: #4E4F50;
    --ivory: #E2DED0;
    --blue-gray:#647C90;
}
html, body{
    background-color: var(--ivory);
    padding: 0%;
    margin: 0%;
}

#welcome-section{
    width:100%; margin-left: 0px; margin-right: 0px;
    background-color: var(--cool-gray);
    color: var(--ivory);
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
}