:root{
    --gray: #746c70;
    --cool-gray: #4E4F50;
    --ivory: #E2DED0;
    --blue-gray:#647C90;
}
html, body{
    background-color: var(--ivory);
    padding: 0%;
    margin: 0%;
}

#welcome-section{
    width:100%; margin-left: 0px; margin-right: 0px;
    background-color: var(--blue-gray);
    color: white;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
}
#welcome-section h1{
    font-size: 40px;
    letter-spacing: 3px;
}
#welcome-section p{
    font-size: 25px;
    letter-spacing: 6px;
}

#introduction{
    width: 100%; margin-left:auto; margin-right: auto;
    text-align:center;
    margin-top:2%; margin-bottom:2%;
}
#introduction img{
    height: 180px; width:180px; border-radius: 50%;
    margin-bottom:2%; margin-top: 2%;
}
#introduction p{
    text-align:center;
    margin-bottom:2%; margin-top: 2%;
    font-size: 20px;
    color: #555;
    word-spacing: 4px;
    letter-spacing: 1px;
}
#introduction .fa{
    font-size:17px;
}
#introduction .fa-heart{
    color:crimson;
}

#introduction #my-technologies{
    margin-top:5%;
}
#introduction #my-technologies h2{
    width:100%;
    letter-spacing: 3px;
}
#introduction #my-technologies{
    color:#555;
    display:flex; flex-direction: row; flex-wrap: wrap; justify-content: center;    
}
#introduction #my-technologies div{
    transition-duration: 0.5s;
    margin:20px;    
}
#introduction #my-technologies div i{
    font-size: 100px;
}
#introduction #my-technologies div p{
    font-size: 15px;
    margin:10px;
}
#introduction #my-technologies div:hover *{
    transition-duration: 0.5s;
    color: var(--blue-gray);   
}

#projects{
    width:100%; margin-left: 0px; margin-right: 0px;    
    margin-top: 10%; margin-bottom: 10%;
    background-color: var(--ivory);
    display:flex; flex-direction: row; flex-wrap:wrap; justify-content: center;
}
#projects h2{
    width: 100%; margin-left: 0px; margin-right:0px;
    text-align: center;
    background-color: var(--blue-gray);
    color: white;
    padding-top: 4%; padding-bottom: 4%;
    letter-spacing: 3px;
}
.project-tile{
    width:350px; max-height:480px;min-height:340px; margin: 20px;
    cursor: pointer;      
    transition-duration: 0.5s; 
    margin: 3%;
}
.project-tile:hover{
    transition-duration: 0.5s;
    box-shadow: 0px 0px 15px var(--blue-gray);       
}
.project-tile .project-name{
    width:100%; margin:0px; text-align:center;
    height:10%; margin-top:0%; margin-bottom:0%;    
    color: #555;
    font-size:22px;
    letter-spacing:3px;
}
.project-tile .project-picture{
    width:100%; max-height:80%;min-height:80%;height:80%;
    margin: 0%; padding: 0%;
}
.project-tile .project-picture img{
    width:100%; height: 100%; max-height:90%;min-height:100%;
    margin:0%;
}
.project-tile .technologies-in-project{
    width:100%; margin:0px; text-align:center;
    height:10%; margin-top:0%; margin-bottom:0%;
    color: #555;
    font-size:18px;padding-top: 3px; padding-bottom:3px;
}