:root{
    --gray: #746c70;
    --cool-gray: #4E4F50;
    --ivory: #E2DED0;
    --blue-gray:#647C90;
}
html, body{
    background-color: var(--ivory);
    padding: 0%;
    margin: 0%;
}

#welcome-section{
    width:100%; margin-left: 0px; margin-right: 0px;
    background-color: var(--blue-gray);
    color: white;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
}
#welcome-section h1{
    font-size: 40px;
}
#welcome-section p{
    font-size: 25px;
    letter-spacing: 4px;
}

#projects{
    width:100%; margin-left: 0px; margin-right: 0px;    
    background-color: var(--ivory);
    display:flex; flex-direction: row; flex-wrap:wrap; justify-content: center;
}
.project-tile{
    width:250px; height:340px; margin: 20px;
    border:1px solid var(--blue-gray);  
    cursor: pointer;      
    transition-duration: 0.5s; 
}
.project-tile:hover{
    transition-duration: 0.5s;
    box-shadow: 0px 0px 15px var(--blue-gray);       
}